@charset "utf-8";

table{
    border: 1px solid black;
    caption-side: bottom;
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    padding: 5px;
}
.body{
    background-color: aliceblue;
}