a {
    text-decoration: none;
    color: #222;
}
#travel {
    width: 1200px;
    margin: 0 auto;
}
.title-text {
    text-align: center;
}
.title-text > h2 {
    font-size: 2em;
    color: #919191;
}
.title-text > p {
    font-size: 1.2em;
    color: #ccc;
}
.travel-list {
    padding-top: 20px;
}
.travel-card {
    float: left;
    padding: 10px;
    margin-right: 20px;
    width: 250px;
    height: 340px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}
.travel-card img {
    width: 150px;
    height: 150px;
    margin: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}